body {
	background-color: #ccefff;
}

.text{
	text-align: center;
	color: #000099;
	font-family: sans-serif;
}

h3 {
	position: relative;
}
.weight {
	font-weight: bold;
}

.photo-container img {
	max-width: 100%;
	border: 2px solid red;
	border-style: dashed;
	width: 600px;
	height: 300px;
}